@*@model IEnumerable<Flex_Slippers.Models.Slipper>*@

@model Flex_Slippers.Models.SlipperMaterialViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="Slippers" asp-action="Index" method="get">
    <p>
        Material : 
        <select asp-for="SlipperMaterial" asp-items="Model.Materials">
            <option value="">All</option>
        </select>

        Deparment: 
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].TypeOfProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].DescOfProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slippers[0].ManufacturingDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Slippers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingDt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
